{% extends 'recommend/base.html'%}
{% block title %}Recommendations{% endblock %}
{% block body %}

<div class="container-fluid">
	<h2>Recommendations for you</h2>
</div>
<hr>
<br>

	<div>
        {% if text %}
        <h2 style="color:black">{{ text }}</h2>
        {% endif %}

    <!-- Movie list -->
        <button data-toggle="collapse" class="btn btn-success" data-target="#demo1">Recommendo 1</button>
        <div id="demo1" class="row collapse">
            {% if rmvs %}
            <h2 style="color:brown">Your Ratings Based Recommender ---- Rate more and Relish</h2>
            {% for movie in rmvs %}
            <div class="col-sm-4 col-md-4">
                <div class="thumbnail" style="border-radius: 22px 22px 22px 22px;">
                    <center><h4>{{movie.title}}</h4></center>
                    <a href="{% url 'detail' movie.id %}">
                        <img src="{{ movie.img_url }}" class="img-responsive" style="border-radius: 22px 22px 22px 22px;">
                    </a>
                    <!--                            <center><h5>{{movie.genre}}</h5></center>-->
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <button data-toggle="collapse" class="btn btn-primary" data-target="#demo2">Recommendo 2</button>
    <div id="demo2" class="row collapse">
            {% if movie_list %}
        <h2 style="color:brown">All Users Ratings pattern based Recommendation  ---- more users more Fun.</h2>
                {% for movie in movie_list %}
                    <div class="col-sm-4 col-md-4">
                        <div class="thumbnail" style="border-radius: 22px 22px 22px 22px;">
                            <center><h4>{{movie.title}}</h4></center>
                            <a href="{% url 'detail' movie.id %}">
                                <img src="{{ movie.img_url }}" class="img-responsive" style="border-radius: 22px 22px 22px 22px;">
                            </a>
<!--                            <center><h5>{{movie.genre}}</h5></center>-->
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

</div>

{% endblock %}